<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boka2.spushnotifications">

    <!-- ========== PUSH NOTIFICATIONS ========== -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- ======================================= -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Only C2DM servers can send messages for the app. If permission is not set - any other app can generate it -->
        <!--<receiver-->
            <!--android:name="com.sixtemia.spushnotifications.classes.SModPushNotificationsReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" /> &lt;!&ndash; Receive the actual message &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" /> &lt;!&ndash; Receive the registration id &ndash;&gt;-->
                <!--<category android:name="com.sixtemia.spushnotificationsdroid" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity
            android:name="com.boka2.spushnotifications.SModPushNotificationsListActivity"
            android:label=""
            android:screenOrientation="sensorPortrait" >
        </activity>

        <activity
            android:name="com.boka2.spushnotifications.SModPushNotificationsWebviewActivity"
            android:label=""/>
    </application>
</manifest>
